<div style="padding-top: 80px; padding-left: 1px;">
  <div>
    <span class="d">
      <img src="../../assets/3.png" alt="Sign In" class="center">
      <span>
        <!--
          This will not be displayed but either
          the browser will see our login keychain
          <Key>2345654869098348587548274597</Key>
          <Developer>Wiremint.com && Firebolt.life Developers</Developer>
          <License>MIT</License>
          <Copyright>&copy;&nbsp;2018 Wiremint.com</Copyright>
        -->
      </span>
    </span>
    <br>
    <button class="center login-custom" mat-raised-button (click)="openDialog()">Login</button>
    <button class="center login-firebolt" mat-raised-button routerLink="/members">Firebolt Account</button>
    <button class="center signup" mat-raised-button routerLink="/members"><b>Create Account</b></button>
  </div>
</div>

<div id="footer">
  <span>&copy;&nbsp;Copyright 2018 Wiremint.com and Firebolt, Inc. All Rights Reserved.</span>
</div>
