<div style="padding-top: 60px;">
  <div id="text">
    <span style="font-size: 30px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">My Plans</span>
  </div>
  <button class="button button1">
    <div class="1">
      <span>Basic Plan<span>(Current)</span></span>
      <br>
      <span class="green">✔</span><span>&nbsp;Access to creating files and folders</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Starts off with 2GB</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Fast with animation</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Auto save</span>
    </div>
  </button>
  <button class="buttons button2">
    <div class="2">
      <span>15TB Plan</span>
      <br>
      <span>Starting From $29.99/month</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Access to creating files and folders</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Fast with animation</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Auto save</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Styling</span>
    </div>
  </button>
  <button class="buttonss button3">
    <div class="3">
      <span>40TB Plan</span>
      <br>
      <span>Starting From $49.99/month</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Access to creating files and folders</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Fast with animation</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Auto save</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Styling</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Auto-format</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Encrypting And Decrypting Files</span>
    </div>
  </button>
  <button class="buttonsss button4">
    <div class="4">
      <span>Unlimited</span>
      <br>
      <span>Starting From $69.99/month</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Access to creating files and folders</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Fast with animation</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Auto save</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Styling</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Auto-format</span>
      <br>
      <span class="green">✔</span><span>&nbsp;Encrypting And Decrypting Files</span>
    </div>
  </button>
</div>

<div id="footer">
  <span>&copy;&nbsp;Copyright 2018 Wiremint.com and Firebolt, Inc. All Rights Reserved.</span>
</div>
