<main>
  <div class="container" style="height: 1300px; padding-top: 45px;">
    <section class="section feature-box">
      <h1 class="section-heading pt-4">Wiremint</h1>
      <p class="section-description lead grey-text">
        Wiremint is the world's fastest and most secure place to store all your documents. Now with Encrypted or Decrypted for premium
        members your data is even more secure.
      </p>
      <div class="row features-small pt-5">
        <div class="col-lg-5 mb-r center-on-small-only">
          <!--<img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="Image" class="img-fluid z-depth-0">-->
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="Image" class="img-fluid z-depth-0 animated bounce">
        </div>
        <div class="col-lg-7">
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-bank blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Safety</h5>
              <p class="grey-text">
                Wiremint allows you to select if your file is Decrypted or Encrypted.
              </p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-code blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Technology</h5>
              <p class="grey-text">
                Wiremint is built using the latest technology to open files quick and easy.
              </p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-money blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Earn Money</h5>
              <p class="grey-text">
                You can earn money by selecting if you want it to be Public or Private. If it is private, people need viewing access(they
                cannot change anything in viewing mode) from you. Only when you allow it and select a price range they need
                to pay first and then view your file.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <router-outlet></router-outlet>
    <section class="section team-section pb-3">
      <h2 class="section-heading h1 pt-4">Meet The Team</h2>
      <p class="section-description">
        The Wiremint team is composed by 2 developers and 1 supporter.
      </p>
      <div class="row text-center">
        <div class="col-md-4 mb-r">
          <div class="avatar">
            <img src="../assets/s.jpeg" class="z-depth-1" alt="Aaron Ma" style="height: 250px;">
          </div>
          <h4>Aaron Ma</h4>
          <h5>Front, Back-end Developer</h5>
          <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius>
            <i class="fa fa-facebook"></i>
          </a>
          <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius>
            <i class="fa fa-dribbble"></i>
          </a>
          <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius>
            <i class="fa fa-twitter"></i>
          </a>
        </div>
        <div class="col-md-4 mb-r">
          <div class="avatar">
            <img src="../assets/sd.jpg" class="z-depth-1" alt="Matt Ma" style="height: 250px;">
          </div>
          <h4>Matt Ma</h4>
          <h5>Designer</h5>
          <a type="button" class="btn-floating btn-small btn-email waves-light" mdbRippleRadius>
            <i class="fa fa-envelope"></i>
          </a>
          <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius>
            <i class="fa fa-facebook"></i>
          </a>
          <a type="button" class="btn-floating btn-small btn-git waves-light" mdbRippleRadius>
            <i class="fa fa-github"></i>
          </a>
        </div>
        <div class="col-md-4 mb-r">
          <div class="avatar">
            <img src="../assets/d.png" class="z-depth-1" alt="Ayan Somasundaram" style="height: 250px;">
          </div>
          <h4>Ayan Somasundaram</h4>
          <h5>Supporter</h5>
          <a type="button" class="btn-floating btn-small btn-li waves-light" mdbRippleRadius>
            <i class="fa fa-linkedin"></i>
          </a>
          <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius>
            <i class="fa fa-twitter"></i>
          </a>
          <a type="button" class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius>
            <i class="fa fa-pinterest"></i>
          </a>
        </div>
      </div>
    </section>
  </div>
</main>
